@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANTQUABI';
  src: url("../fonts/ANTQUABI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header h1 {
  font-family: 'ANTQUABI', sans-serif;
  color: #197cc3;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.header-content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__logo-mobile {
  font-size: 35px;
  display: none;
}

.header-content__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header-content__navbar ul li {
  padding-left: 20px;
}

.header-content__navbar ul li:first-child {
  padding-left: 0;
}

.header-content__navbar ul li a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-content__navbar ul li a:hover {
  border-bottom: 1px solid #197cc3;
  color: #197cc3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-content__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-content__feedback a {
  color: #000000;
  text-decoration: none;
}

.header-content__feedback a:hover {
  border-bottom: 1px solid #197cc3;
  color: #197cc3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-content__feedback_phone {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.header-content__feedback_phone-one {
  margin-bottom: 5px;
  position: relative;
}

.header-content__feedback_phone-two {
  margin-bottom: 5px;
}

.header-content__feedback_phone-three {
  margin-bottom: 5px;
}

.header-content__feedback_email {
  margin-bottom: 5px;
}

.header-content__feedback_loc {
  font-weight: 400;
  margin-bottom: 5px;
}

.header-menu_vis {
  display: block !important;
  position: fixed !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-content__navbar-mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a2b0cf;
  z-index: 2;
  height: 100vh;
  width: 50%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-content__navbar-mobile a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-mobile__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-mobile__window-box {
  width: 100%;
  background-color: #0d4c8d;
  z-index: 200;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-mobile__window-box_title {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.header-mobile__window-box_close {
  padding-top: 18px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.header-mobile__window ul {
  list-style: none;
  margin-top: 90px;
}

.header-mobile__window ul li {
  padding: 20px 0px 20px 20px;
}

.main {
  background: url("../image/header/cropped-news_03221942513231.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

.main-title {
  margin-top: 0;
  text-align: center;
  font-size: 87px;
  font-family: 'ANTQUABI', sans-serif;
  margin-bottom: 60px;
  position: relative;
  color: #266672;
}

.main-title:before {
  position: absolute;
  border-bottom: 1px solid #197cc3;
  right: 20%;
  width: 60%;
  bottom: 0;
  content: '';
}

.main-content {
  border: 1px solid #197cc3;
  border-radius: 15px;
  padding: 90px 20px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main-content__wrap {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'ANTQUABI', sans-serif;
  margin: 0;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

.main-content__wrap span {
  color: #197cc3;
}

.main-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content__boxing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 375px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.main-content__boxing-title {
  font-family: 'ANTQUABI', sans-serif;
  font-size: 25px;
  color: #197cc3;
}

.main-content__boxing-subtitle {
  font-weight: bold;
  font-size: 19px;
}

.work {
  padding-bottom: 100px;
}

.work-use {
  padding-bottom: 70px;
}

.work-title {
  padding-top: 70px;
  font-size: 60px;
}

.work-title:before {
  width: 27%;
  right: 36%;
  bottom: -10px;
}

.work-your img {
  width: 400px;
  height: 400px;
}

.work-content__use-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-content__use-box_text {
  margin-left: 20px;
}

.work-content__use-box_title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.work-content__use-box_subtitle {
  font-size: 19px;
}

.use-title {
  text-align: center;
  padding-top: 70px;
  font-size: 60px;
}

.use-title:before {
  bottom: -14px;
  right: 22%;
  width: 56%;
}

.work-use {
  background-color: #f5f5f5;
}

.price {
  padding-top: 70px;
  padding-bottom: 70px;
}

.price-title {
  font-size: 60px;
}

.price-title:before {
  right: 30%;
  width: 40%;
  bottom: -10px;
}

.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 350px;
  margin-bottom: 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-left: 3px;
}

.price-content__box:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.24);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.24);
}

.price-content__box_text {
  padding-left: 5px;
  padding-right: 5px;
}

.price-content__box_image {
  margin-bottom: 20px;
}

.price-content__box_image img {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 350px;
  height: 350px;
}

.price-content__box_title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.price-content__box_subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.price-content__box_number {
  margin-bottom: 20px;
  font-size: 20px;
}

.price-content__box_number span {
  font-weight: bold;
}

.team {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #f5f5f5;
}

.team .fab {
  font-size: 50px;
  color: #3faabf;
}

.team .far {
  font-size: 50px;
  color: #3faabf;
}

.team .fas {
  font-size: 50px;
  color: #3faabf;
}

.team-title {
  font-size: 60px;
}

.team-title:before {
  right: 28%;
  width: 44%;
  bottom: -10px;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-content__box i {
  margin-bottom: 10px;
}

.bg-image {
  height: 200px;
  padding: 90px 0px;
  position: relative;
  z-index: 1;
}

.bg-image:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.bg-1 {
  background: url("../image/form/bg-form.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title {
  font-size: 45px;
  color: #ffffff;
}

.form-title:before {
  bottom: -10px;
  width: 80%;
  right: 10%;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-content__list_li {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-left: 10px;
}

.form-btn {
  margin-left: 20px;
}

.success {
  display: none;
}

.reviews {
  padding-bottom: 50px;
  padding-top: 50px;
}

.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-btn {
  position: relative;
  margin-top: 70px;
}

.reviews-btn:before {
  content: url("../image/form/comment-regular.svg");
  position: absolute;
  right: -60px;
  top: -50px;
  width: 50px;
}

.reviews-title {
  font-size: 50px;
}

.reviews-title:before {
  right: 27%;
  width: 45%;
  bottom: -10px;
}

.reviews-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-content__box {
  width: 320px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.reviews-content__box_title {
  margin-bottom: 10px;
}

.reviews-content__box_title a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.reviews-content__box_title a:hover {
  border-bottom: 1px solid #197cc3;
  color: #197cc3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content__box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content__feedback_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer-content a:hover {
  border-bottom: 1px solid #197cc3;
  color: #197cc3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.52);
}

.modal-vis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window {
  width: 600px;
  height: 500px;
  background-color: #ffffff;
  margin: 7% auto;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.modal-window__box {
  width: 400px;
  margin: 20px auto;
}

.modal-window__box_title {
  font-size: 16px;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'ANTQUABI', sans-serif;
  margin-bottom: 16px;
  position: relative;
  color: #266672;
}

.modal-window__box_subtitle {
  text-align: center;
  color: #0d4064;
  margin-bottom: 20px;
}

.modal-window__box_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window__box_form-list {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #cccccc;
  padding-left: 20px;
  border-radius: 15px;
}

.modal-feedback__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 20px;
}

.modal-feedback__loc_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-feedback__loc_tel i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-feedback__loc a {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.modal-feedback__loc a:hover {
  border-bottom: 1px solid #197cc3;
  color: #197cc3;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.modal-feedback__loc_sity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-feedback__loc_sity a {
  margin-bottom: 5px;
}

.modal-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.fa-building {
  color: #197cc3;
  margin-right: 12px;
}

.container {
  width: 1170px;
  margin: auto;
}

html {
  font-family: 'RobotoRegular', sans-serif;
}

.button {
  background-color: #197cc3;
  height: 50px;
  border: none;
  width: 200px;
  border-radius: 5px;
  border-bottom: #0d4369 4px solid;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.button:hover {
  background-color: #2b97e4;
}

.button:active {
  background-color: #0d4064;
  -webkit-transition: none;
  transition: none;
}

.button:focus {
  outline: none;
}

.fa-mobile-alt {
  color: #197cc3;
  margin-right: 10px;
}

.fa-users {
  font-size: 50px;
  color: #3faabf;
}

.fa-medal {
  font-size: 50px;
  color: #3faabf;
}

.fa-check {
  font-size: 50px;
  color: #3faabf;
}

.slick-slide img {
  width: 385px;
}

.slick-slide {
  outline: none;
}

.prev {
  cursor: pointer;
  padding: 10px;
  right: -70px;
  top: 45%;
  position: absolute;
  border-radius: 20px;
}

.next {
  cursor: pointer;
  padding: 10px;
  left: -70px;
  top: 45%;
  position: absolute;
  border-radius: 20px;
}

.fa-arrow-right {
  color: #197cc3;
  font-size: 30px;
}

.fa-arrow-left {
  color: #197cc3;
  font-size: 30px;
}

.colorbox {
  outline: none;
}

.cboxNext {
  background-color: #000000;
}

.fab {
  font-size: 40px;
}

.fa-times {
  font-size: 25px;
}

.scroll {
  position: fixed;
  top: 86vh;
  right: 82px;
  display: block;
  width: 54px;
  height: 55px;
  background-color: #094adb;
  border-radius: 5px;
  opacity: 0.5;
  z-index: 999;
}

.fa-angle-up {
  font-size: 53px;
  margin-left: 10px;
  color: #3faabf;
}

.warning {
  position: fixed;
  top: 20vh;
  right: 4%;
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.24);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  z-index: 999;
}

.warning-box {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warning-box__title {
  font-family: 'ANTQUABI', sans-serif;
  color: #197cc3;
  font-weight: 900;
  text-align: center;
  font-size: 20px;
}

.warning-box__sub {
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
}

.warning-box__sub span {
  font-weight: bold;
}

.warning-box__text {
  font-size: 15px;
  text-align: center;
}

.warning-box__text span {
  font-weight: bold;
}

.warning-pop-close {
  cursor: pointer;
}

@media only screen and (max-width: 1315px) {
  .prev {
    right: -60px;
  }
  .container {
    width: 90%;
  }
  .main-content__boxing {
    width: 374px;
  }
  .main-content__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1300px) {
  .main-content__boxing {
    width: 275px;
  }
}

@media only screen and (max-width: 1283px) {
  .slick-slide img {
    width: 492px;
    margin-left: 20px;
  }
  .prev {
    right: 13px;
  }
  .next {
    left: -29px;
  }
}

@media only screen and (max-width: 1250px) {
  .prev {
    right: -1%;
  }
}

@media only screen and (max-width: 1247px) {
  .form-title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1199px) {
  .prev {
    right: -5%;
  }
  .team-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-content__box {
    margin-bottom: 20px;
    width: 230px;
  }
}

@media only screen and (max-width: 1183px) {
  .price-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price-content__box {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1138px) {
  .slick-slide img {
    width: 370px;
    margin-left: 75px;
  }
}

@media only screen and (max-width: 990px) {
  .slick-slide img {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 974px) {
  .header-content__logo-mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content__navbar {
    display: none;
  }
  .header-content__feedback_phone {
    font-size: 15px;
  }
  .main-title {
    font-size: 65px;
  }
  .form-title {
    font-size: 30px;
  }
  .reviews-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 953px) {
  .slick-slide img {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 967px) {
  .main {
    padding: 50px 0;
  }
  .main-content__boxing {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 869px) {
  .slick-slide img {
    margin-left: 2%;
  }
}

@media only screen and (max-width: 863px) {
  .work-your.slick-slide.slick-current.slick-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 831px) {
  .form-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 795px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content__box {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 698px) {
  .main-title {
    font-size: 45px;
  }
  .main-content__wrap {
    font-size: 18px;
  }
  .main-content__boxing-title {
    font-size: 18px;
  }
  .main-content__boxing-subtitle {
    font-size: 15px;
  }
  .form-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .reviews-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 710px) {
  .form-content__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-btn {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 676px) {
  .work-content__use-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-content__use-box_title {
    text-align: center;
  }
  .work-content__use-box_image img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 628px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content__logo-mobile {
    position: absolute;
  }
}

@media only screen and (max-width: 575px) {
  .header h1 {
    font-size: 30px;
  }
  .modal-window {
    height: 575px;
  }
  .modal-feedback__loc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 575px) {
  .header h1 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 526px) {
  .main-content__wrap {
    font-size: 15px;
  }
}

@media only screen and (max-width: 511px) {
  .form-btn {
    margin-top: 10px;
    margin-left: 14px;
  }
  .form-content__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-content__list_li {
    margin-bottom: 10px;
  }
  .bg-image {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 485px) {
  .prev {
    top: 400px;
    left: 72%;
  }
  .next {
    top: 400px;
    left: 17%;
  }
  .header-content__navbar-mobile {
    width: 70%;
  }
}

@media only screen and (max-width: 483px) {
  .main-title {
    font-size: 28px;
  }
  .form-title {
    margin-top: -49px;
  }
}

@media only screen and (max-width: 420px) {
  .slick-slider img {
    margin-left: 1%;
    width: 330px;
  }
  .reviews-content__box {
    width: 270px;
    padding: 20px 10px;
  }
  .footer-content a {
    font-size: 15px;
  }
  .modal-window__box {
    width: 300px;
  }
  .modal-window__box_form-list {
    width: 260px;
  }
  .scroll {
    right: 10px;
  }
}

@media only screen and (max-width: 370px) {
  .main-content {
    padding: 20px 5px;
  }
  .slick-slider img {
    width: 300px;
    height: 300px;
  }
  .prev {
    top: 301px;
  }
  .next {
    top: 301px;
  }
  .price-content__box_image img {
    width: 300px;
    height: 300px;
  }
  .price-content__box {
    width: 300px;
  }
  .reviews-btn {
    margin-top: 50px;
  }
  .reviews-btn:before {
    right: -50px;
  }
}

@media only screen and (max-width: 338px) {
  .slick-slider img {
    width: 280px;
    height: 280px;
  }
  .warning {
    right: 0;
  }
  .prev {
    top: 285px;
  }
  .next {
    top: 285px;
  }
}
/*# sourceMappingURL=main.css.map */