.footer
	background-color: #f5f5f5
	padding-top: 30px
	padding-bottom: 30px
	&-content
		display: flex
		justify-content: space-between
		a
			color: #000000
			font-size: 18px
			text-decoration: none
			transition: all .5s ease
			&:hover
				border-bottom: 1px solid #197cc3
				color: #197cc3
				transition: all .5s ease

.site
	display: flex
	align-items: center
					