.header
	h1
		font-family: 'ANTQUABI', sans-serif
		color: #197cc3
	&-content
		display: flex
		justify-content: space-between
		padding: 1em
		&__navbar
			font-family: 'RobotoRegular', serif
			ul
				display: flex
				list-style: none
				li
					padding: 1em
					a
						text-decoration: none
						color: #000000
		&__feedback
			font-family: 'RobotoRegular', serif
			&_phone
				margin-bottom: 5px
			&_email
				margin-bottom: 5px
	