.reviews
	padding-bottom: 50px
	padding-top: 50px
	&-container
		display: flex
		flex-direction: column
		align-items: center
	&-btn
		position: relative
		margin-top: 70px
		&:before
			content: url('../image/form/comment-regular.svg')
			position: absolute
			right: -60px
			top: -50px
			width: 50px
	&-title
		font-size: 50px
		&:before
			right: 27%
			width: 45%
			bottom: -10px
	&-content
		display: flex
		justify-content: space-around
		justify-content: center
		flex-wrap: wrap
		&__box
			width: 320px
			margin-left: 10px
			margin-bottom: 20px
			border: 1px solid #cccccc
			padding: 20px
			border-radius: 15px
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			&_title
				margin-bottom: 10px
				a
					color: #000000
					font-size: 18px
					text-decoration: none
					transition: all .5s ease
					&:hover
						border-bottom: 1px solid #197cc3
						color: #197cc3
						transition: all .5s ease