@import 'fonts'
@import 'header'
@import 'style'
@import 'work'
@import 'price'
@import 'team'
@import 'form'
@import 'reviews'
@import 'footer'
@import 'modal'

.container
	width: 1170px
	margin: auto

html
	font-family: 'RobotoRegular', sans-serif

.button
	background-color: #197cc3
	height: 50px
	border: none
	width: 200px
	border-radius: 5px
	border-bottom: darken(#197cc3, 20%) 4px solid
	color: #ffffff
	cursor: pointer
	transition: all .5s ease
	&:hover 
    background-color: lighten(#197cc3, 10%)
	&:active 
		background-color: darken(#197cc3, 21%)
		transition: none
	&:focus
		outline: none

.fa-mobile-alt
	color: #197cc3
	margin-right: 10px

.fa
	&-users
		font-size: 50px
		color: #3faabf
	&-medal
		font-size: 50px
		color: #3faabf
	&-check
		font-size: 50px
		color: #3faabf

.slick-slide img 
	width: 385px

.slick-slide
	outline: none

.prev
	cursor: pointer
	padding: 10px
	right: -70px
	top: 45%
	position: absolute
	border-radius: 20px

.next
	cursor: pointer
	padding: 10px
	left: -70px
	top: 45%
	position: absolute
	border-radius: 20px



.fa-arrow
	&-right
		color: #197cc3
		font-size: 30px
	&-left
		color: #197cc3
		font-size: 30px

.colorbox
	outline: none

.cboxNext
	background-color: #000000

.fab
	font-size: 40px

.fa
	&-times
		font-size: 25px

.scroll
	position: fixed
	top: 86vh
	right: 82px
	display: block
	width: 54px
	height: 55px
	background-color: #094adb
	border-radius: 5px
	opacity: 0.5
	z-index: 999

.fa-angle-up
	font-size: 53px
	margin-left: 10px
	color: #3faabf

.warning
	position: fixed
	top: 20vh
	right: 4%
	display: block
	width: 300px
	padding: 10px
	background-color: #ffffff
	border: 1px solid #cccccc
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.24)
	border-radius: 5px
	z-index: 999
	&-box
		z-index: 9999
		display: flex
		flex-direction: column
		align-items: center
		&__title
			font-family: 'ANTQUABI', sans-serif
			color: #197cc3
			font-weight: 900
			text-align: center
			font-size: 20px
		&__sub
			margin-bottom: 10px
			text-align: center
			font-size: 15px
			span
				font-weight: bold
		&__text
			font-size: 15px
			text-align: center
			span
				font-weight: bold

.warning-pop-close
	cursor: pointer

@import 'media'